<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full" > 
        @if (CurrentContext.IsAuthenticated)
        {
            if (InMemoryRepo.Folders.Count != 0)
            {
                foreach (var model in InMemoryRepo.Folders)
                {
                    <MudNavLink OnClick="@(() => OpenFolder(model.Id))"> 
                            <MudIcon Icon="@model.Icon" Style=@($"color:{model.IconColor}") /> 
                        <span> </span> @model.Name
                    </MudNavLink> 
                }
            } 
        }
    </MudNavMenu>
</MudPaper>