@page "/" 
@inject InMemoryRepo InMemoryRepo
<PageTitle>Home</PageTitle> 
<MudPaper Class="d-flex justify-center flex-wrap flex-grow-1 gap-4" Elevation="0">
    @if (CurrentContext.IsAuthenticated)
    {
        if (InMemoryRepo.Folders.Count == 0)
        {
            @* @(async () => await LoadAllData()) *@
            <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Size="Size.Medium" OnClick="LoadAllData" />
        }
        else
        {
            foreach (var model in InMemoryRepo.Folders)
            {
                <FolderComponent Model="model"/>
            }
        }
        
    }
    else
    {
        <div class="loading">
            <div class="loadingBaba"> 
                <MudFab
                    Icon="@Icons.Material.Filled.Settings" 
                    @onclick="AddFirebaseCode" 
                    Color="Color.Warning"
                    Style="text-decoration-color: black"
                    Label="Please connect with you database first.  Click me To Fill Data"/>
            </div>
        </div>
    }
</MudPaper>  
