@namespace YourNoteBook.Shared.Components.Layouts
@inherits LayoutComponentBase

<div class="min-h-screen bg-gray-50 dark:bg-gray-900 transition-colors duration-200">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-sm p-6 m-4">
        @Body
    </div>
    <LandingFooter/>
</div>